<a href="https://colab.research.google.com/github/kiview/ethereum-datascience-workshop/blob/master/web3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We first install some necessary Python packages.

In [ ]:
!pip uninstall -y chainer # would lead to conflicts with web3 with regards to typing-extensions
!pip install web3 pandas matplotlib ipywidgets

**Important**: Restart the Runtime after installing the packages (`Ctrl + M .`)

In [20]:
from web3 import Web3
from IPython.display import HTML, display
import pandas as pd
import matplotlib.pyplot as plt
from tqdm.notebook import trange

Connecting to the [bloxberg](https://bloxberg.org/) Ethereum network using [Web3.py](https://web3py.readthedocs.io/en/stable/) and a WebSocket connection.

In [21]:
w3 = Web3(Web3.WebsocketProvider('wss://websockets.bloxberg.org'))
w3.isConnected()

True

Let's extract a number of blocks and transactions! There is much more data that can be extract from blocks and transactions, check the [API](https://web3py.readthedocs.io/en/stable/web3.eth.html).

In [ ]:
start_block = 2000000
end_block = 2000500

addresses = set()
transactions = []
for idx in trange(start_block, end_block): # trange gives us a neat progress bar
    b = w3.eth.getBlock(idx, full_transactions=True)
    for tx in b.transactions:
        addresses.add(tx['to'])
        addresses.add(tx['from'])
        transactions.append([b.timestamp, idx, tx['to'], tx['from']])

It's always nice to be able to use Pandas DataFrames for further processing.

In [22]:
df = pd.DataFrame(transactions, columns = ['Timestamp', 'Block', 'From', 'To']) 
df

      Timestamp  ...                                          To
0    1559537405  ...  0x8De281f47B137979e55B6CEa598179737574C774
1    1559537405  ...  0xAcFfb14f786a485ab7F3fef5D9F092A69F929CA4
2    1559537405  ...  0x1eF319dB1930e3420fCfF90c376d9cf515B34876
3    1559537405  ...  0xc330469e600D3792d646a7D412D024EeA544cE00
4    1559537405  ...  0xe659bc6A60Ba2091c08F7df623BA6057349B6980
..          ...  ...                                         ...
606  1559540245  ...  0xc330469e600D3792d646a7D412D024EeA544cE00
607  1559540245  ...  0xaA84378fA41da83a9B6523bA46E45A664FbEBFC8
608  1559540245  ...  0x93dA5507a26090448a03FC1F77e1C7DA20A24292
609  1559540245  ...  0xe659bc6A60Ba2091c08F7df623BA6057349B6980
610  1559540245  ...  0x2fa6f57FF56A1DA41FB7C6a176F630641e20Cd53

[611 rows x 4 columns]